<div>
  <el-button type="text"  @click="append">新增</el-button>
      <el-row>
          <el-col :span="8" :offset="8">
              <el-input
              placeholder="输入关键字进行搜索"
              class="m-b-10"
              v-model="filterText">
            </el-input>
              <el-tree
              :data="tree"
              :props="defaultProps"
              style="max-height:90vh;overflow-y:auto;"
              accordion
              default-expand-all
              ref="classificationtree"
              :expand-on-click-node="false"
              :filter-node-method="filterNode"
              v-loading="treeloading"
              :render-content="renderContent">
            </el-tree>
          </el-col>
        </el-row>
        <el-dialog :title="title" :visible.sync="dialogVisible">
            <el-form :model="treeobj" ref="ValidateForm" label-width="100px" class="demo-ruleForm">
              <el-form-item label="节点名称" prop="label" :rules="[
              { required: true, message: '节点名称不能为空'}
            ]">
                <el-input type="text" v-model="treeobj.label" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="编号" prop="Code" :rules="[
              { required: true, message: '编号不能为空'}
            ]">
                <el-input type="text" v-model="treeobj.Code" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="上级节点" prop="upperlevel">
                  <el-select v-model="treeobj.upperlevel" placeholder="请选择" 
                  :clearable="true">
                      <el-option
                        v-for="item in options"
                        :key="item.AutoId"
                        :label="item.label"
                        :value="item.AutoId"
                        >
                      </el-option>
                    </el-select>
              </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
              <el-button @click="dialogVisible = false">取 消</el-button>
              <el-button type="primary" @click="confirm">确 定</el-button>
            </span>
          </el-dialog>
</div>