/*
Error: File to import not found or unreadable: ../node_modules/element-ui/packages/theme-chalk/src/index.
        on line 12 of index.scss

7: // 主题颜色
8: $color:#409EFF;
9: $--color-primary:$color;
10: /* 改变 icon 字体路径变量，必需 *\/
11: $--font-path: '../node_modules/element-ui/lib/theme-chalk/fonts';
12: @import "../node_modules/element-ui/packages/theme-chalk/src/index";
13: @import "public/test/test";
14: @import "./public/lib/assets",  //公用样式
15:         "./public/lib/theme",   //主题样式
16:         "./public/login",        //登录
17:         "./public/canvas"       //canvas画布

Backtrace:
index.scss:12
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/import_node.rb:45:in `import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/import_node.rb:28:in `imported_file'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/import_node.rb:37:in `css_import?'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.3/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../node_modules/element-ui/packages/theme-chalk/src/index.\A         on line 12 of index.scss\A \A 7: // 主题颜色\A 8: $color:#409EFF;\A 9: $--color-primary:$color;\A 10: /* 改变 icon 字体路径变量，必需 */\A 11: $--font-path: '../node_modules/element-ui/lib/theme-chalk/fonts';\A 12: @import \"../node_modules/element-ui/packages/theme-chalk/src/index\";\A 13: @import \"public/test/test\";\A 14: @import \"./public/lib/assets\",  //公用样式\A 15:         \"./public/lib/theme\",   //主题样式\A 16:         \"./public/login\",        //登录\A 17:         \"./public/canvas\"       //canvas画布"; }
