<div>
  <el-header class="bg-color">
    <div style="line-height: 60px;">
      <el-dropdown @command="handleCommand" class="f-r">
        <span>{{account.name}}</span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="sginout">退出</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </el-header>
  <el-container style="height: 88vh;"class="f-p-r">
    <el-aside width="200px">
      <el-menu :default-openeds="showmenu"  :router="true">
        <el-submenu :index="menu.label" v-for="(menu,index) in menu">
          <template slot="title"><i :class="menu.icon"></i>{{menu.label}}</template>
          <el-menu-item-group>
            <el-menu-item :index="children.link" v-for="children in menu.children"><i :class="children.icon"></i>{{children.label}}</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
      </el-menu>
    </el-aside>
    <el-aside style="width: 100%;">

      <router-view/>
    </el-aside>
  </el-container>
</div>
